@using News_Reviews.Models.Models.Quzi;
@model IEnumerable<QuestionsViewModel>

<style>
    .selected-answer {
        background-color: #0F52BA;
        color: white;
    }

    .answer-item {
        border-bottom: 2px solid blue;
        padding: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 25px;
    }

    .question-container {
        margin-bottom: 100px;
        padding-top: 30px;
    }

    .small-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 500px;
    }

    .image-text {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 25px;
    }

    .title-text{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        font-size: 35px;
    }

    .quiz-button {
        text-decoration: none;
        background-color: transparent;
        border: 4px solid cyan;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

        /* Hover effect for the button */
        .quiz-button:hover {
            background-color: rgba(255, 255, 255, 0.2); 
            border-color: cyan; 
        }
</style>

<div>
    @foreach (var question in Model)
    {
        <div class="question-container">
            <h2 style="color: cyan;">@question.Title</h2>
            <ul>
                @foreach (var answer in question.Answers)
                {
                    <li class="answer-item" style="color: white; cursor: pointer;"
                        data-question-id="@question.Id"
                        data-answer-id="@answer.Id"
                        data-points="@answer.Points">@answer.Title</li>
                }
            </ul>
        </div>
    }
</div>

<input type="hidden" id="totalPoints" value="0" />

<div class="d-flex align-items-center justify-content-center">
    <a asp-controller="Quiz" asp-action="All" class="nav-link text-light quiz-button">Make Quiz again</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var totalQuestions = $('.question-container').length;
            var answeredQuestions = 0;
            var totalPoints = 0;

            $('.answer-item').click(function () {
                var questionId = $(this).data('question-id');
                var answerId = $(this).data('answer-id');
                var selectedAnswer = $(this);

                // Add selected class to the clicked answer
                selectedAnswer.addClass('selected-answer');

                // Disable click event for all answers in the same question
                $('.answer-item[data-question-id="' + questionId + '"]').off('click');

                // Scroll to the next question
                var nextQuestion = selectedAnswer.closest('.question-container').next();
                if (nextQuestion.length > 0) {
                    $('html, body').animate({
                        scrollTop: nextQuestion.offset().top
                    }, 500);
                }

                // Update points for the selected answer
                var points = selectedAnswer.data('points');
                totalPoints += points;

                // Update answered questions count
                answeredQuestions++;

                // Check if all questions have been answered
                if (answeredQuestions === totalQuestions) {
                    // Save the total points to the hidden input field
                    $('#totalPoints').val(totalPoints);

                    var title = '';
                    var text = '';
                    var image = '';

                    if (totalPoints > 1 && totalPoints <= 14) {
                        title = 'Strategy';
                        text = 'You feel the need to play a Strategy game! These include patience and intelligence, and some titles include Age Of Empires, Civilisation, Command & Conquer, XCOM 2, Into the Breach, etc. ';
                        image = 'https://assetsio.reedpopcdn.com/warcraft-3-reforged-mp.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp';
                    }
                    else if (totalPoints > 14 && totalPoints <= 23) {
                        title = 'Sports';
                        text = 'You should play a Sports game! Some titles for you to consider are Fifa, Madden, F1, Rocket League, EA Sports UFC, etc.';
                        image = 'https://assetsio.reedpopcdn.com/-1564995005172.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp';                        
                    }
                    else if (totalPoints > 23 && totalPoints <= 30) {
                        title = 'Shooter'
                        text = 'You should play a Shooter! Some great titles to try include Call Of Duty, Gears Of War, Downwell, RIVE, Halo, etc.';
                        image = 'https://images.indianexpress.com/2022/01/6-top-fps-games-featured-1.jpg';
                    }
                    else if (totalPoints > 31 && totalPoints <= 39) {
                        title = 'Puzzle';
                        text = 'You seem to be in the mood for a puzzle game! Why not give some of these a try? Professor Layton and the Curious Village, The Turing Test, Portal, The Inner World - The Last Wind Monk, etc. ';
                        image = 'https://media.wired.com/photos/5932a9c29be5e55af6c26664/master/w_2560%2Cc_limit/old_testchamber.jpg';                        
                    }
                    else if (totalPoints > 39 && totalPoints <= 48) {
                        title = 'Action-Adventure';
                        text = 'You should play an action/adventure game! Some games for you to try are: Uncharted: The Lost Legacy, The Legend Of Zelda, Shadow of the Tomb Raider, Dishonored 2, etc. ';
                        image = 'https://www.gamespot.com/a/uploads/original/1552/15524586/3774263-613605-assassins-creed-valhalla-patch.jpg';                       
                    }
                    else{
                        title = 'RGB';
                        text = 'You should play a Role Playing Game! Some examples for you to try are: World Of Warcraft, Final Fantasy, Dragon Quest, Dauntless, Nier: Automata, etc. ';
                        image = 'https://static0.gamerantimages.com/wordpress/wp-content/uploads/2020/11/PC-Offline-RPGs.jpg';                        
                    }

                    var imageSrc = image;
                    var imageAlt = 'Image';
                    var imageElement = $('<img>').attr('src', imageSrc).attr('alt', imageAlt).addClass('small-image');
                    $('body').append(imageElement);
                    var titleText = $('<p>').text(title).addClass('title-text');
                    $('body').append(imageElement).append(imageText).append(titleText);
                    var imageText = $('<p>').text(text).addClass('image-text');
                    $('body').append(imageElement).append(imageText);

                    // Scroll to the image
                    $('html, body').animate({
                        scrollTop: imageElement.offset().top
                    }, 500);
                }
            });
        });
    </script>
}
