@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.Reviews;
@model IEnumerable<ReviewsViewModel>


<div class="row">
    @foreach (var review in Model)
    {
        <div class="card mb-3" style="border-bottom: 1px solid #ccc; padding: 10px;">
            <div class="row">
                <div class="col-md-4">
                    <img class="card-img-left" src="@review.ImageURL" alt="Card image" style="max-height: 100px; width: auto;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title"><a href="@Url.Action("Read", "Reviews", new { id = review.Id })" class="text-decoration-none text-dark">@review.Title</a></h4>
                        <div class="d-flex justify-content-end">
                            <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-primary">Edit</a>
                            <form class="input-group-sm" asp-controller="Reviews" asp-action="Remove" asp-route-id="@review.Id">
                                <input type="submit" value="Remove" class="fs-6 btn btn-success ml-2" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
