@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.Reviews
@model ReviewFormModel


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Content" class="form-label">Description</label>
                <textarea asp-for="@Model.Content" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageURL" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
            </div>              
            <div class="mb-3">
                <label asp-for="@Model.PlatformId" class="form-label" style="color: white;">Platform</label>
                <select asp-for="@Model.PlatformId" class="form-control">
                    @foreach (var category in @Model.Platforms)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.PlatformId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label" style="color: white;">Genre</label>
                <select asp-for="@Model.GenreId" class="form-control">
                    @foreach (var genre in @Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.GenreId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PublisherId" class="form-label" style="color: white;">Publisher</label>
                <select asp-for="@Model.PublisherId" class="form-control">
                    @foreach (var publisher in @Model.Publishers)
                    {
                        <option value="@publisher.Id">@publisher.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.PublisherId" class="text-danger"></span>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-warning" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
