﻿@using News_Reviews.Models.Models.Forum;

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<ThemesViewModel>

<div style="padding: 20px; display: flex; justify-content: flex-start;">
    <div style="width: 50%;">
        <div style="display: flex; flex-direction: column;">
            @foreach (var theme in Model)
            {
                <div style="background-color: #353746; border-radius: 10px; box-shadow: 0 2px 5px white; padding: 20px; margin-bottom: 20px;">
                    <h3 style="font-size: 20px; color: #333; margin-bottom: 10px;">
                        <a asp-controller="Forum" asp-action="AllPosts" asp-route-id="@theme.Id" style="text-decoration: none; color: white;">@theme.Title</a>
                    </h3>
                    <h3 style="font-size: 20px; color: #333; margin-bottom: 10px;">
                        @if(User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <form class="input-group-sm" asp-controller="Forum" asp-action="RemoveTheme" asp-route-id="@theme.Id">
                                <input type="submit" value="Remove" class="fs-6 btn btn-success mb-3 p-2" />
                            </form>                           
                        }                       
                    </h3>
                </div>
            }
        </div>
    </div>
</div>

<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <partial name="_PaginationDesignCriptPartial" />
}

@if(User?.Identity?.IsAuthenticated ?? false)
{
    <div style="text-align: center; margin-top: 20px;">
        <a href="@Url.Action("AddTheme", "Forum")" class="btn btn-primary" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px;">Add Theme</a>
    </div>
}


