@using News_Reviews.Models.Models;
@using News_Reviews.Models.Models.News;

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<NewsViewModel>

<div class="text-center row">
    @foreach (var news in Model)
    {
        <div class="card" style="width:400px">
            <div class="card-body">
                <h4 class="card-title">@news.Title</h4>
                <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(news.Content.Substring(0, news.Content.IndexOf('.') + 1)))</p>
                <p>Date: @news.Data</p>
                <a asp-controller="News" asp-action="Read" asp-route-id="@news.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Read</a>
                @if (User.IsInRole("Admin"))
                {
                    <form class="input-group-sm" asp-controller="News" asp-action="Remove" asp-route-id="@news.Id">
                        <input type="submit" value="Remove" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                    <a asp-controller="News" asp-action="Edit" asp-route-id="@news.Id" class="btn btn-primary w-50 mb-2">Edit</a>
                }               
            </div>
        </div>
    }
</div>

<!-- paging control for navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })

@section Scripts{
    <script>
        // Workaround to fix style of text for showing items .. through ..
        // Problem related to Bootstrap 4 according to issue in link below
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });

        $(document).ready(function () {
            // Get all the pagination links
            var paginationLinks = document.querySelectorAll('.pagination .page-link');

            // Change the colors
            paginationLinks.forEach(function (link) {
                link.style.color = '#fff';
                link.style.backgroundColor = '#353746';
                link.style.borderColor = 'cyan';
            });
        });

        // Change the style of the item slice text
        var itemSliceText = document.querySelector('.item-slice-text');
        itemSliceText.style.color = 'cyan';
        itemSliceText.style.fontSize = '20px';
        itemSliceText.style.border = '2px solid cyan';

        // Change the style of the write post title
        var writePostTitle = document.querySelector('.write-post-title');
        writePostTitle.style.fontSize = '25px';
        writePostTitle.style.color = 'lightblue';

        $(document).ready(function () {
            // Change the style of the item slice text
            $('.item-slice-text').css({
                'color': 'cyan',
                'font-size': '20px',
                'border': '2px solid cyan'
            });
        });
    </script>
}

