﻿@using News_Reviews.Models.UserViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Sign up";
}

<h1 class="text-center" style="color: white">@ViewData["Title"]</h1>

<partial name="_CssStylePartial" />

<div class="register-container">
    <div class="register-form">
        <div class="row">
            <div class="col-md-12">
                <form id="registerForm" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="text-center mb-3">
                        <label asp-for="@Model.Username" class="field-label">Enter Username</label>
                        <input class="form-control" autocomplete="username" aria-required="true" asp-for="@Model.Username" />
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </div>

                    <div class="text-center mb-3">
                        <label asp-for="@Model.Password" class="field-label">Enter Password</label>
                        <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="text-center mb-3">
                        <label asp-for="@Model.ConfirmPassword" class="field-label">Confirm Password</label>
                        <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
